<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Practice</title>
</head>
<body>
	<form method="post">
		<input type="text" placeholder="輸入您要查詢的名稱" name="user">
		<br>
		<br>
		<input type="submit" name="send" value="送出到資料庫查詢">
		<br>
		<br>
		<br>
		<input type="text" placeholder="輸入您要申請的名稱" name="apply_user">
		<br>
		<input type="text" placeholder="輸入您的年齡" name="apply_age">
		<br>
		<input type="submit" name="apply" value="註冊">
		<br>
		<br>
		<br>
	</form>
	<br>
	<br>
	<br>
	<p>您查詢的姓名資料為：{{name}}</p>
	<br>
	<p>您查詢的編號資料為：{{number}}</p>
	<br>
	<p>您查詢的年紀資料為：{{age}}</p>
</body>
</html>